<div class="branch-autocomplete">

  <input #subeGirdisi
         type="text"
         autocomplete="off"
         [(ngModel)]="subeAramaMetni"
         (ngModelChange)="subeAramasiDegisti()"
         (focus)="subeSecenekleriniAc()"
         (blur)="subeSecenekleriniKapat()"
         (keydown.escape)="kacisTuslandi(subeGirdisi)"
         [disabled]="devreDisiMi"
         [placeholder]="placeholder" />


  @if (subeSecenekleriAcikMi) {

  <div class="branch-options">

    @if (subelerYukleniyorMu) {

    <div class="branch-option-message">
      Şubeler yükleniyor...
    </div>

    } @else {

    @for (
    sube of filtrelenmisSubeler;
    track sube.id
    ) {

    <button type="button"
            class="branch-option"
            (mousedown)="subeSec(sube)">

      <span class="option-branch-name">
        {{ sube.subeAdi }}
      </span>

    </button>

    } @empty {

    <div class="branch-option-message">
      Uygun şube bulunamadı.
    </div>

    }

    }

  </div>

  }

</div>
