# Visual Studio
.vs/
**/.vs/

# .NET derleme dosyaları
obj/
runtimes
**/obj/

# Kullanıcıya özel Visual Studio dosyaları
*.user
*.suo

# Hassas ayarlar
appsettings.Development.json

# VS Code
.vscode/

bin

Wallet
Backend/kocerbank-backend/appsettings.json