<div class="date-range-picker">

  <input type="text"
         readonly
         autocomplete="off"
         [value]="gorunumMetni"
         (focus)="takvimiAc()"
         (keydown.escape)="escTuslandi($event)"
         [disabled]="devreDisiMi"
         [placeholder]="placeholder" />


  @if (takvimAcikMi) {

  <div class="date-picker-panel">

    <div class="date-picker-header">

      <button type="button"
              class="month-nav-button"
              (click)="geriGit()">
        ‹
      </button>

      <button type="button"
              class="current-month-label"
              [class.static-label]="gorunumModu === 'yil'"
              (click)="baslikTiklandi()">

        @if (gorunumModu === 'gun') {
          {{ ayAdlari[gorunenAy] }} {{ gorunenYil }}
        } @else if (gorunumModu === 'ay') {
          {{ gorunenYil }}
        } @else {
          {{ yilListesi[0] }} - {{ yilListesi[11] }}
        }

      </button>

      <button type="button"
              class="month-nav-button"
              (click)="ileriGit()">
        ›
      </button>

    </div>


    @if (gorunumModu === 'gun') {

    <div class="weekday-row">

      @for (gunAdi of gunAdlariKisa; track gunAdi) {

      <span class="weekday-cell">
        {{ gunAdi }}
      </span>

      }

    </div>


    <div class="day-grid"
         (mouseleave)="gunHoveriTemizle()">

      @for (gun of takvimGunleri; track gun.tarih) {

      <button type="button"
              class="day-cell"
              [class.other-month]="!gun.buAyMi"
              [class.in-range]="gunAralikIcindeMi(gun)"
              [class.range-endpoint]="gunBaslangicMi(gun) || gunBitisMi(gun)"
              (mouseenter)="gunUzerineGelindi(gun)"
              (click)="gunSec(gun)">
        {{ gun.gun }}
      </button>

      }

    </div>

    } @else if (gorunumModu === 'ay') {

    <div class="month-grid">

      @for (ayAdi of ayAdlari; track ayAdi; let ayIndex = $index) {

      <button type="button"
              class="month-cell"
              [class.selected-cell]="ayIndex === gorunenAy"
              (click)="aySec(ayIndex)">
        {{ ayAdi }}
      </button>

      }

    </div>

    } @else {

    <div class="year-grid">

      @for (yil of yilListesi; track yil) {

      <button type="button"
              class="year-cell"
              [class.selected-cell]="yil === gorunenYil"
              (click)="yilSec(yil)">
        {{ yil }}
      </button>

      }

    </div>

    }


    <div class="date-picker-footer">

      <button type="button"
              class="clear-date-button"
              (click)="temizle($event)">
        Temizle
      </button>

    </div>

  </div>

  }

</div>
